<%-include('partials/header')-%>

<h1>Contact Us</h1>
<p><%=contactData%></p>
<ul>
    <li>Vikas Rajput</li>
        <li>+91-7248338610</li>
        <li>Vishesh Srivastava</li>
        <li> +91-7706005778</li>
</ul>

<h1>Mail us at</h1>
<ul>
    <li>aeroclub.hbtu@gmail.com</li>
    <li>contact@aeroclubhbtu.com</li>
</ul>


<%-include('partials/footer') -%>